.post {
  background-color: white;
  box-shadow: 0px 0px 6px #ccc;
  padding: 10px 15px;
  margin: 15px;
  word-break: break-all;
  max-width: 100%;
}

.post-card {
  display: flex;
  justify-content: space-between;
}

.post-card h2 {
  margin: 0px;
}

.btns button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  margin-top: 5px;
  cursor: pointer;
}

.edit-btn {
  color: blue;
}

.delete-btn {
  color: red;
}

.post p {
  margin-top: 10px;
}
